@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

/* Navigation Bar. */
nav {
    height: 8vmin;
    width: 100%;
    padding: 3% 0 1% 0;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    z-index: 1;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 2s;
}

#navigation-bar__header {
    padding: 5%;
    color: black;
    text-decoration: none;
}

#navigation-bar__button {
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.navigation-bar__open {
    height: 100vh;
    position: fixed;
}

/* Home. */
#home-grid {
    height: 90vh;
    display: grid;
    grid-template-columns: 40% 60%;
    align-content: center;
}

#home-grid__title {
    padding: 30% 10% 0 15%;
    font-size: 4rem;
}

/* Blogs. */
#home-blog {
    margin: 0 15%;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#home-blog:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

#home-blog__image {
    width: 100%;
    display: block;
    margin: auto auto;
    border-radius: 20px;
}

.home-blog__text {
    padding: 5px;
    text-align: center;
}

.view-blog-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 2% 8%;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.view-blog-container:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.view-blog-container h2, p {
    padding-bottom: 10px;
}

.view-blog__image {
    width: 90%;
    border-radius: 20px;
}

/* Other. */
.extra-bottom-padding {
    padding-bottom: 25px;
}