/* Home Blogs. */
#home-blog {
    margin: 0 15%;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#home-blog:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

#home-blog__image {
    width: 100%;
    display: block;
    margin: auto auto;
    border-radius: 20px;
}

.home-blog__text {
    padding: 5px;
    text-align: center;
}

/* Individual Home Blogs. */
.individual-home-blog-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 2% 8%;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.individual-home-blog-container:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.individual-home-blog-container h2, p {
    padding-bottom: 10px;
}

.individual-home-blog__image {
    width: 90%;
    border-radius: 20px;
}

/* Readable Blogs. */
.readable-blog-container {
    margin-right: 18.5%;
    margin-left: 18.5%;
    padding: 6vh 0;
}

.readable-blog-title {
    text-align: center;
    font-size: 4rem;
}

.readable-blog-description {
    text-align: center;
    padding: 1vh 0 6vh 0;
}

.readable-blog-image {
    display: block;
    width: 63vw;
    border-radius: 20px;
    margin: auto auto;
}

.readable-blog-category-and-date {
    padding: 3vh 0;
}

.readable-blog-content {
    padding-bottom: 3vh;
}

.readable-blog-author-container {
    padding-top: 2vh;
    padding-bottom: 7vh;
}

.readable-blog-overhang {
    display: grid;
    grid-template-columns: 80% 20%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    margin-right: 5vw;
    padding: 2vh 5vw 2vh 5vw;
}

/* Create Blogs. */
#create-blog-title {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 8vh;
}

#create-blog-form-container {
    margin: 10vh 18.5%;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

input[type = text], textarea, select, option {
    width: 100%;
    margin: 2vh 0 5vh 0;
    padding: 12px 20px;
    border-radius: 6px;
    border: 1px solid rgb(197, 175, 175);
    font-size: 1rem;
    resize: vertical;
}

textarea {
    height: 40vh;
}

#create-blog-image-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

#create-blog-image {
    display: block;
    width: 60%;
    margin: auto auto;
    border-radius: 12px;
}

button {
    display: block;
    margin: 7vh auto;
    padding: 12px 20px;
    background-color: white;
    border: 2px solid #667ba6;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.75s;
}

button:hover {
    color: white;
    background-color: #667ba6;
}